.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 20px;
}

.principal_logo {
    width: 120px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    align-items: center;
    gap: clamp(15px, 4vw, 80px);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 999px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.navbar a {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
    padding: 8px 30px;
}

.navbar a.active {
    color: var(--color-primario);
    padding: 8px 40px;
    background-color: var(--color-primario-hover);
    border-radius: 999px;
}

.search {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

/* Perfil */
.perfil {
    position: relative;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background: var(--color-fondo-claro);
    padding: 4px 6px;
    border-radius: 12px;
    cursor: pointer;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background: var(--color-fondo-claro);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 140px;
    padding: 8px 0;
}

.dropdown a {
    display: block;
    padding: 8px 14px;
    font-size: 14px;
    color: var(--color-secundario);
    text-decoration: none;
}

.dropdown a:hover {
    background: var(--color-hover);
    color: var(--color-hover-secundario);
}

.cerrar-cuenta:hover {
    background: var(--color-alerta) !important;
    color: var(--color-alerta-texto) !important;
}

.hidden {
    display: none;
}


/*--------------------------------*/
/*botones-------------------------*/
/*--------------------------------*/

.sticky-buttons {
    position: fixed;
    bottom: 4rem;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-fondo-claro);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    user-select: none;
}

.btn.dark {
    background: var(--color-btn-dark);
    color: var(--color-fondo-claro);
}

.faq {
    position: fixed;
    bottom: 4.5rem;
    left: 80px;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    background: var(--color-fondo-claro);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.faq.hidden {
    display: none;
}

.faq h3 {
    margin-top: 0;
    font-size: 16px;
}